<ActionBar class="action-bar" title="Home">
    <NavigationButton icon="res://ic_menu" (tap)="showDrawer()"></NavigationButton>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="drawer-content">
        <StackLayout horizzontalAlign="left">
            asd
        </StackLayout>
    </ScrollView>
    <StackLayout tkMainContent>
        <Button text="Logout" (tap)="logout()"></Button>
        <StackLayout class="post" *ngFor="let post of feeds | async | select:'feed'">
            <Label [text]="post.title"></Label>
            <Label [text]="post.text"></Label>
        </StackLayout>
    </StackLayout>
</RadSideDrawer>