<ActionBar class="action-bar" title="Home">
    <NavigationButton icon="res://ic_menu" (tap)="showDrawer()"></NavigationButton>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="drawer-content">
        <tm-drawer></tm-drawer>
    </ScrollView>
    <StackLayout tkMainContent>
        <Button text="Logout" (tap)="logout()"></Button>
        <Label class="fa" [text]="'fa-home' | fonticon"></Label>
        <StackLayout class="post" *ngFor="let test of tests | async | select:'tests'">
            <Label [text]="test.name"></Label>
            <Label [text]="test.description"></Label>
        </StackLayout>
    </StackLayout>
</RadSideDrawer>